:root {
    --primary: #1A1A1A;
    --secondary: #141311;
    --tertiary: #383735;
    --quaternary: #C3A970
}
.bg-meta-dark{
    background: var(--primary)
}
.bg-meta-darker{
    background-color: var(--secondary)
}
.bg-meta-light-dark{
    background-color: var(--tertiary)
}
.nav-link{
    color:  var(--quaternary) !important
}
.nav-link:hover, .nav-link.active{
    color:  var(--quaternary);
    background-color:  var(--tertiary);
    border-radius:0
}
@media (max-width: 992px){
    .navbar-dark{
        background: var(--primary);
        margin-bottom: 20px;
    }
}