.navbar {
    background-color: #284335;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-link{
    color: #e0cd9a;
    font-weight: 600;
    font-size: 12.8px;
}
.nav-link:hover{
    color: #e0cd9a;
    opacity: 0.75;
    text-decoration: underline;
}

#main-banner-video {
    width: 100%;
    height: 100%;
    margin-bottom: -5%;
}

.text-justify {
    text-align: justify;
}

select.langSel {
    color: #e0cd9a;
    background: transparent;
    border: none;
}

.langSel option {
    color: #000000;
}


.banner-btn-section {
    margin-top: -15vh;
    padding: 30px 15px;
}

.banner-btn-section a, .banner-btn-section .btn {
    font-size: 24px !important;
    text-decoration: none;
}