#box1{
    background-color: #016A48 ; 
}
.texttitle{
    font-size: 48px;
    font-weight: 700;
}
.background-overlay{
    text-align: center;
    padding: 50px;
}

.tokenomic-table {
    font-size: 15px;
    vertical-align: middle !important;
}

.tokenomic-table tr, .tokenomic-table th, .tokenomic-table td {
    border: none;
}

.tokenomic-table thead th {
    color: #EBD36C;
    border: 2px solid #9b9b9b !important;
    padding: 5px;
    vertical-align: middle;
}

.row-1 th, .row-1 td {
    background: #7B7B7B;
    border-top: 2px solid transparent;
    margin-top: 30px;
    color: #ffffff;
}

.row-2 th, .row-2 td {
    background: #C59D37;
    border-top: 2px solid transparent;
    margin-top: 30px;
    color: #ffffff;
}

.row-3 th, .row-3 td {
    background: #E9BE64;
    border-top: 2px solid transparent;
    margin-top: 30px;
    color: #000000;
}

.row-4 th, .row-4 td {
    background: #252525;
    border-top: 2px solid transparent;
    margin-top: 30px;
    color: #ffffff;
}

.row-5 th, .row-5 td {
    color: #EBD36C;
}