.horse {
            width: 47%;
            height: 100%; 
            border-radius: 0 0 0 15%;
        }

            .horse-bet-box {
                width: 9.6%;
                height: 11%;
                cursor: pointer;
                color: white;
            }

                .horse-font {
                    font-size: 0.8em; 
                    left: 10%; 
                    font-weight: bold; 
                    color: #000!important;
                    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                }

                .horse-image {
                    width: 320%; 
                    height: 220%;
                    top: -20%;
                }

                .horse-bet-amount {
                    font-size: 0.6em;
                    left: 68%;
                    bottom: 0%;
                }

                .horse-column-1 {
                    left: 11.5%;
                }

                .horse-column-2 {
                    left: 22.2%; 
                }

                .horse-column-3 {
                    left: 33%;
                }

                .horse-column-4 {
                    left: 44%; 
                }

                .horse-column-5 {
                    left: 54.8%;
                }

                .horse-column-6 {
                    left: 65.7%; 
                }

                .horse-column-7 {
                    left: 76.6%;
                }

                .horse-column-8 {
                    left: 87.3%; 
                }

        .bet-box {
            width: 10%;
            height: 11%; 
            cursor: pointer;
            color: white;
        }

            .bet-odds {
                font-size: 0.6em;
                left: 60%;
                top: 20%;
                font-weight: bold; 
            }

            .bet-amount {
                font-size: 0.6em;
                left: 50%;
                bottom: 0%;
            }

            .bet-box.active, .horse-bet-box.active, .bs-bet-box.active{
                color: var(--quaternary)!important;
                font-weight: bolder;
            }

        .column-1 {
            left: 11.5%;
        }

        .column-2 {
            left: 22.8%; 
        }

        .column-3 {
            left: 33.7%;
        }

        .column-4 {
            left: 44.4%; 
        }

        .column-5 {
            left: 55.2%;
        }

        .column-6 {
            left: 65.9%; 
        }

        .column-7 {
            left: 76.6%;
        }

        .column-8 {
            left: 87.6%; 
        }

        .row-1 {
            top: 1.5%; 
        }

        .row-2 {
            top: 13.8% 
        }

        .row-3 {
            top: 26%;
        }

        .row-4 {
            top: 38.3%;
        }

        .row-5 {
            top: 50.6%;
        }

        .row-6 {
            top: 62.6%;
        }

        .row-7 {
            top: 74.9%; 
        }

        .row-8 {
            top: 87%; 
        }

        /* Big / Small */
        .bs-row-1 {
            top: 27.3%;
            left: 17%;
            font-size: 0.8em;
        }

        .bs-row-2 {
            top: 45.5%;
            left: 17%;
            font-size: 0.8em;
        }

        .bs-row-3 {
            top: 63.7%;
            left: 17%;
            font-size: 0.8em;
        }

        .bs-row-4 {
            top: 82.2%;
            left: 17%;
            font-size: 0.8em;
        }

        .bs-bet-box {
            width: 20%;
            height: 16%;
            color: #333;
            cursor: pointer;
        }
            .bs-bet-box div {
                padding-top: 13%;
            }

            .bs-column-2 {
                left: 34%;
                margin-top: -3%;
            }

            .bs-column-3 {
                left: 55%;
                margin-top: -3%;
            }

            .bs-column-4 {
                left: 77%;
                margin-top: -3%;
            }

        .g-balance {
            width: 14%;
            height: 20%;
            left: 13%;
            top: 50%;
            font-size: 1.6em;
            text-align: right;
        }

        .token {
            cursor: pointer;
        }

            .token-5 {
                width: 5%;
                height: 45%;
                left: 30%;
                top: 20%;
            }

            .token-10 {
                width: 7%;
                height: 50%;
                left: 36%;
                top: 17%;
            }

            .token-50 {
                width: 8%;
                height: 56%;
                left: 44%;
                top: 14%;
            }

            .token-100 {
                width: 10%;
                height: 66%;
                left: 53%;
                top: 8%;
            }

            .token-500 {
                width: 12%;
                height: 78%;
                left: 64%;
                top: 1%;
            }

        .btn-place-bet {
            width: 16%;
            height: 63%;
            left: 79.5%;
            top: 26%;
            cursor: pointer;
        }

        .result-box {
            width: 77%;
            height: 13%;
        }

            .result-horse-1 {
                font-size: 1.8em;
            }

                .result-horse-1-bar {
                    width: 15%;
                    top: 40%;
                    left: -2%;
                }

            .result-horse-2 {
                font-size: 1.8em;
                left: 17.4%;
            }

                .result-horse-2-bar {
                    width: 15%;
                    top: 40%;
                    left: 16%;
                }

            .result-single {
                left: 33.4%;
                top: 39%;
                transform: scale(1, 1.5);
                font-size: 1em;
                width: 22%;
                text-align: center;
            }

            .result-double {
                left: 59.4%;
                top: 39%;
                transform: scale(1, 1.5);
                font-size: 1em;
                text-align: center;
                width: 38%;
            }

        .result-row-1 {
            top: 19.5%;
            left: 18.5%;
        }

        .result-row-2 {
            top: 32%;
            left: 18.5%;
        }

        .result-row-3 {
            top: 44.5%;
            left: 18.5%;;
        }

        .result-row-4 {
            top: 56.8%;
            left: 18.5%;
        }

        .result-row-5 {
            top: 69.3%;
            left: 18.5%;
        }

        .result-row-6 {
            top: 81.8%;
            left: 18.5%;
        }

        .remove-bet {
            color: #dc3545!important;
        }

            .remove-odd-bet {
                top: -6%;
                right: 9%;
                display: none;
            }

            .remove-horse-bet {
                top: 66%;
                right: 5%;
                font-size: 0.8em;
                display: none;
            }

            .active .remove-odd-bet, .active .remove-horse-bet {
                display: block;
            }

        .close-bet {
            background-color: rgba(0, 0, 0, 0.8);
        }
            .close-bet div {
                padding: 25% 10% 0 10%;
                font-size: 2em;
            }